:root {
    --background:rgb(255, 255, 255);
    --pink1:#ffe5ec;
    --pink2:#FFC2D1;
    --pink3:#FFB3C6;
    --pink4:#FF8FAB;
    --pink5:#fb6f92;
    --pink6:#f2426e;
    --pink7:#92082B;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 550px 300px;
    grid-template-rows: 100px auto 600px;
    gap: 10px;
    padding: 20px;
}

.titulo {
    background-color: var(--pink5);
    grid-column: 1 / 4;
    grid-row: 1/2;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}
.titulo .h1{
    font-size: 55px;            
    color: var(--pink7);           
    font-family: "Mynerve", cursive;       
    font-weight: bold;
}


.generos {
    background-color: var(--pink2);
    border-radius: 20px;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    padding: 20px;
}

.generos .h2{
    font-size: 45px;            
    color: var(--pink6);           
    font-family: "Mynerve", cursive;       
    font-weight: bold;
}

.sinopse {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: var(--pink1);
    border-radius: 20px;
    padding: 20px;
}
.sinopse .h2{
    font-size: 45px;            
    color: var(--pink6);           
    font-family: "Mynerve", cursive;       
    font-weight: bold;
}

.info {
    background-color: var(--pink2);
    border-radius: 20px;
    padding: 20px;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}
.info .h2{
    font-size: 45px;            
    color: var(--pink6);           
    font-family: "Mynerve", cursive;       
    font-weight: bold;
}

.elenco {
    background-color: var(--pink4);
    border-radius: 20px;
    grid-row: 3 / 3;
    grid-column: 2 / 4;
    padding: 20px;
}
.elenco .h2{
    font-size: 45px;            
    color: var(--pink7);           
    font-family: "Mynerve", cursive;       
    font-weight: bold;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    background-color: #fff0f6;
}

.ator {
    background-color: var(--pink3);
    text-align: center;
    padding: 20px; 
    margin: 20px;
    border-radius: 10px;
    width: 300px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ator .h2{
    font-size: 35px;            
    color: var(--pink6);           
    font-family: "Mynerve", cursive;       
    font-weight: bold;
}
.ator p{
    font-size: 35px;            
    color: var(--pink7);           
    font-family: "Mynerve", cursive;       
    font-weight: bold;
}

.ator img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}